<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Servicios</title>
    <link rel="stylesheet" href="../css/global.css">
    <script type="module" src="../js/app.js"></script>
    <script type="module" src="../js/createService.js"></script>
</head>
<body class="body-style">
    <!-- Barra de navegación -->
    <header>
        
    </header>

    <!--Registro de servicios-->
    
    <div class="service-container">
        <h2>REGISTRO DE SERVICIOS</h2>
        
        <!--Datos del servicio-->
        <form id="createServiceForm" method="post">
            <div class="container-data">
                <h3>Datos del servicio</h3>
                <div class="contenedor-input">
                    <div class="form-group">
                        <div class="input-container">
                            <label for="nombre">Nombre del servicio</label>
                            <input type="text" id="nombre" name="nombre" required>
                        </div>
                        <div class="input-container">
                        <label for="categoria">Categoria</label> 
                            <select name="categoria" id="categoria" required>
                                <option value="deportes">Deportes</option>
                                <option value="estetica">Estetica</option>
                                <option value="comida">Comida</option>
                                <option value="oficio">Oficio</option>
                                <option value="vehiculos">Vehiculos</option>
                                <option value="salud">Salud</option>
                                <option value="bienestar">Bienestar</option>
                                <option value="mascotas">Mascotas</option>
                                <option value="eventos">Eventos</option>
                                <option value="otros">Otros</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-container">
                            <label for="ubicacion">Dirección</label>
                            <input type="text" id="ubicacion" name="ubicacion" required>
                        </div>
                        <div class="input-container">
                            <label for="ciudad">Ciudad</label>
                                    <select name="ciudad" id="ciudad" required>
                                        <option value="Buenos Aires">Buenos Aires</option>
                                        <option value="Rosario">Rosario</option>
                                        <option value="Cordoba">Córdoba</option>
                                        <option value="Mar del Plata">Mar del Plata</option>
                                        <option value="San Miguel de Tucumán">San Miguel de Tucumán</option>
                                        <option value="Salta">Salta</option>
                                        <option value="Santa Fe">Santa Fe</option>
                                        <option value="Corrientes">Corrientes</option>
                                        <option value="Resistencia">Resistencia</option>
                                        <option value="San Luis">San Luis</option>
                                    </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-container">
                            <label for="telefono">Teléfono de contacto</label>
                            <input type="tel" id="telefono" name="telefono" placeholder="(011) 1234 - 5678" required>
                        </div>
                        <div class="input-container">
                            <label for="email">Correo electrónico</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="input-container">
                        <label for="descripcion">Descripción del servicio</label>
                        <textarea name="descripcion" id="descripcion"></textarea>
                    </div>
                    <div class="form-group">
                        <!-- cambiar a input day -->
                        <div class="input-container">
                            <label for="dia_semana">Dias de atención</label>
                            <select name="dia_semana" id="dia_semana" required>
                                <option value="lunes a viernes">lunes a viernes</option>
                                <option value="sabado">sábado</option>
                                <option value="domingos y feriados">domingos y feriados</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <!-- cambiar input a date -->
                            <label for="hora_inicio">Horario de apertura</label>
                            <input name="hora_inicio" type="time" id="hora_inicio" rows="4" cols="50" ></input>
                            <label for="hora_fin">Horario de cierre</label>
                            <input name="hora_fin" type="time" id="hora_fin" rows="4" cols="50" ></input>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Precios del servicio-->
            <div class="container-price">
                <h3>Precios del servicio</h3>

                <div>
                    <label for="precio">Precio</label>
                    <input type="number" id="precio" name="precio" required>
                </div>

                    <!-- Opción Cancelación Gratuita -->
                

                <div>
                    <!-- cambiar input -->
                    <label for="duracion_hora">Duración</label> 
                    <select name="duracion_hora" id="duracion_hora" required>
                        <option value="1">1 Hora</option>
                        <option value="2">2 Horas</option>
                        <option value="3">3 Horas</option>
                        <option value="4">4 Horas</option>
                        <option value="5">5 Horas</option>
                        <option value="6">6 Horas</option>
                    </select>
                </div>
            </div>
        <!--Imagenes del servicio-->
            <div class="container-image">
                <h3>Imagenes del servicio</h3>
                <div>
                    <label for="image">Subir Imágenes (2 minimo):</label>
                    <input type="file" id="image" name="image[]" accept="image/*" multiple onchange="previewImages()">
                </div>
                <div class="image-preview" id="image-preview"></div>
            </div>
        <!-- Botones de Enviar y Cancelar -->

            <div class="buttons">
                <button class="cancel-btn" type="button" id="cancelado">Cancelar</button>
                <button class="submit" type="submit" id="enviado">Publicar</button>
            </div>
        </form>
        </div>
        <footer>
        </footer>
</body>
</html>