<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <script type="module" src="/js/app.js"></script>
    <script type="module" src="/js/myaccount.js"></script>
    <title>Appunti - Mi Cuenta</title>
</head>
<body class="body-style">
    <header>
        <!-- render de nav -->
    </header>
    <main>
        <!-- datos usuario -->
        <div class="data-user-style">
            <div class="title">
                <img src="" alt="icon">
                <p>Datos del Usuario</p>
                <img src="" alt="flecha">
            </div>
            <div class="data-user">
                <div>
                    <p id="userName"></p>
                    <p id="userLastName"></p>
                </div>
                <p id="userEmail"></p>
                <p id="userAddress"></p>
                <p id="userDate"></p>
                <p id="userPhone"></p>
                <a class="edit-btn" href="">Editar</a>
            </div>
        </div>
        <!-- Favoritos -->
        <div class="data-user-style">
            <div class="title">
                <img src="" alt="icon">
                <p>Favoritos</p>
                <img src="" alt="flecha">
            </div>
            <!-- Renderizar cards favoritos -->
            <div id="favoritos-contenedor">
                
            </div>
        </div>
        <!-- Reservas -->
        <div class="data-user-style">
            <div class="title">
                <img src="" alt="icon">
                <p>Reservas</p>
                <img src="" alt="flecha">
            </div>
            <div class="reserva-list">
                <div class="item-reserva">
                    <img class="" src="../assets/img/cancha-padle.png" alt="img-reserva">
                    <div>
                        <div class="date">
                            <p>10/02/2024</p>
                            <p>17:45</p>
                        </div>
                        <p>Nombre</p>
                        <p>Precio</p>
                    </div>
                    <p>Reservas Activas <!-- numero --></p>
                    <div>
                        <a href="">Editar</a>
                        <a href="">Pausar</a>
                    </div>
                </div>
                <div class="item-reserva">
                    <img class="" src="../assets/img/card-futbol1.jpg" alt="img-reserva">
                    <div>
                        <div class="date">
                            <p>10/02/2024</p>
                            <p>17:45</p>
                        </div>
                        <p>Nombre</p>
                        <p>Precio</p>
                    </div>
                    <p>Reservas Activas <!-- numero --></p>
                    <div>
                        <a href="">Editar</a>
                        <a href="">Pausar</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Publicaciones -->
        <div class="data-user-style">
            <div class="title">
                <img src="" alt="icon">
                <p>Publicaciones</p>
                <img src="" alt="flecha">
            </div>
            <div class="reserva-list">
                <div class="item-reserva">
                    <img class="" src="../assets/img/alliance-football-club-xtvnC2FuJSg-unsplash 1.png" alt="img-reserva">
                    <div>
                        <div class="date">
                            <p>10/02/2024</p>
                            <p>17:45</p>
                        </div>
                        <p>Nombre</p>
                        <p>Precio</p>
                    </div>
                    <p>Reservas Activas <!-- numero --></p>
                    <div>
                        <a href="">Editar</a>
                        <a href="">Pausar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>