<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/icon/mago-pesc-light.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/global.css">
    <script type="module" src="/js/app.js"></script>
    <script type="module" src="/js/myaccount.js"></script>
    <title>Appunti - Mi Cuenta</title>
</head>
<body class="body-style">
    <header>
        <!-- render de nav -->
    </header>
    <main>
        <!-- datos usuario -->
        <div class="data-user-style" id="toggleDataUser">
            <div class="title">
                <img src="https://img.icons8.com/?size=100&amp;id=ABBSjQJK83zf&amp;format=png&amp;color=ffffff" alt="icon">
                <p>Datos del Usuario</p>
                <img src="../assets/img/desplegar-datos.png" alt="flecha">
            </div>
            <div class="data-user" id="dataUserContainer">
                <div>
                    <p id="userName"></p>
                    <p id="userLastName"></p>
                </div>
                <div class="data-2">
                    <p>Mail: <span id="userEmail"></span></p>
                    <p>Dirección: <span id="userAddress"></span></p>
                    <p>Teléfono: <span id="userPhone"></span></p>
                    <p>Fecha de Nacimiento: <span id="userDate"></span></p>
                    <span id="userEmprendimiento"></span>
                </div>
                <a class="edit-btn" href="">Opciones</a>
            </div>
        </div>
        <!-- Favoritos -->
        <div class="data-user-style" id="toggleFav">
            <div class="title">
                <img src="https://img.icons8.com/?size=100&id=7856&format=png&color=ffffff" alt="icon">
                <p>Favoritos</p>
                <img src="../assets/img/desplegar-datos.png" alt="flecha">
            </div>
            <!-- Renderizar cards favoritos -->
            <div id="favoritos-contenedor">
                
            </div>
        </div>
        <!-- Reservas -->
        <div class="data-user-style" id="toggleReservas">
            <div class="title">
                <img src="https://img.icons8.com/?size=100&amp;id=10053&amp;format=png&amp;color=ffffff" alt="icon">
                <p>Reservas</p>
                <img src="../assets/img/desplegar-datos.png" alt="flecha">
            </div>
            <div class="reserva-list"  id="dataReservas">
                <div class="item-reserva">
                    <img class="" src="../assets/img/cancha-padle.png" alt="img-reserva">
                    <div>
                        <div class="date">
                            <p>10/02/2024</p>
                            <p>17:45</p>
                        </div>
                        <p>Nombre</p>
                        <p>Precio</p>
                    </div>
                </div>
                <div class="item-reserva">
                    <img class="" src="../assets/img/card-futbol1.jpg" class="togglePubli">
                    <div>
                        <div class="date">
                            <p>10/02/2024</p>
                            <p>17:45</p>
                        </div>
                        <p>Nombre</p>
                        <p>Precio</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Publicaciones -->
        <div class="data-user-style" id="togglePubli">
            <div class="title">
                <img src="https://img.icons8.com/?size=100&id=78802&format=png&color=ffffff" alt="icon">
                <p>Publicaciones</p>
                <img src="../assets/img/desplegar-datos.png" alt="flecha">
            </div>
            <div class="reserva-list"  id="dataPublicaciones">
                <div class="item-reserva">
                    <img class="" src="../assets/img/alliance-football-club-xtvnC2FuJSg-unsplash 1.png" alt="img-reserva">
                    <div>
                        <div class="date">
                            <p>10/02/2024</p>
                            <p>17:45</p>
                        </div>
                        <p>Nombre</p>
                        <p>Precio</p>
                    </div>
                    <p>Reservas Activas <!-- numero --></p>
                    <div class="btn-publi">
                        <a href="">Editar</a>
                        <a href="">Pausar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>