<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="stylesheet" href="../css/global.css">
    <script type="module" src="../js/render/nosotros.js"></script>
    <script type="module" src="../js/frontend/app.js"></script>
</head>
<body>
    <header>

    </header>
    
    <section class="about">
        <h2>Sobre Nosotros</h2>
        <p>¡Hola! Somos los creadores de Appunti, una página web diseñada para facilitar y optimizar el proceso de realizar reservas. Nuestra misión es ofrecer una herramienta intuitiva y eficiente que permita a los usuarios gestionar sus horarios y actividades de forma sencilla.<br>
        Somos egresados de la capacitación especializada en Programación Web Full Stack de la <strong>Fundacion Pescar</strong> en alianza con <strong>Karuna y Valtech</strong>, edición 2024. Este proyecto refleja nuestra pasión por la tecnología y lo aprendido durante este trayecto, combinando diseño funcional y desarrollo innovador para resolver necesidades reales.</p>
    </section>

    <section class="profiles-container">
        <h2>Conoce a Nuestro Equipo</h2>
        <div class="profiles">
            <div class="profile">
                <img src="perfil1.jpg" alt="Perfil 1">
                <h3>Dante Lugo</h3>
                <p><strong>Full Stack Web Developer</strong></p>
                <p>Descripción: Experto en gestión de proyectos con más de 5 años de experiencia.</p>
                <a href="https://www.linkedin.com/in/dantelugo/" target="_blank" class="linkedin-button">
                    <img src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" alt="LinkedIn" class="linkedin-logo">
                </a>
            </div>
            <div class="profile">
                <img src="perfil2.jpg" alt="Perfil 2">
                <h3>Karen Cespedes Rivas</h3>
                <p><strong>Full Stack Web Developer</strong></p>
                <p>Descripción: Apasionado por la tecnología y el desarrollo de soluciones innovadoras.</p>
                <a href="https://www.linkedin.com/in/karen-cespedes-rivas-kcr180694/" target="_blank" class="linkedin-button">
                    <img src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" alt="LinkedIn" class="linkedin-logo">
                </a>
            </div>
            <div class="profile">
                <img src="perfil3.jpg" alt="Perfil 3">
                <h3>Tobias Marcelo Fernandez</h3>
                <p><strong>Full Stack Web Developer</strong></p>
                <p>Descripción: Creativo con un enfoque en el diseño visual y la experiencia del usuario.</p>
                <a href="https://www.linkedin.com/in/tobifernandez/" target="_blank" class="linkedin-button">
                    <img src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" alt="LinkedIn" class="linkedin-logo">
                </a>
            </div>
            <div class="profile">
                <img src="../assets/img/perfil4.png" alt="Perfil 3">
                <h3>Antonella Pultrone</h3>
                <p><strong>Full Stack Web Developer</strong></p>
                <p>Estudiante de Lic. en Informática.</p>
                <a href="https://www.linkedin.com/in/antonellapultrone/" target="_blank" class="linkedin-button">
                    <img src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" alt="LinkedIn" class="linkedin-logo">
                </a>
            </div>
            <div class="profile">
                <img src="perfil5.jpg" alt="Perfil 1">
                <h3>Emiliano Menoyo</h3>
                <p><strong>Full Stack Web Developer</strong></p>
                <p>Descripción: Experto en gestión de proyectos con más de 5 años de experiencia.</p>
                <a href="https://www.linkedin.com/in/emilianomenoyo/" target="_blank" class="linkedin-button">
                    <img src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" alt="LinkedIn" class="linkedin-logo">
                </a>
            </div>
            <div class="profile">
                <img src="perfil6.jpg" alt="Perfil 2">
                <h3>Mayra Medina</h3>
                <p><strong>Full Stack Web Developer</strong></p>
                <p>Descripción: Apasionado por la tecnología y el desarrollo de soluciones innovadoras.</p>
                <a href="https://www.linkedin.com/in/mayra-medina-294893229/" target="_blank" class="linkedin-button">
                    <img src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" alt="LinkedIn" class="linkedin-logo">
                </a>
            </div>
            <div class="profile">
                <img src="perfil7.jpg" alt="Perfil 3">
                <h3>Lesly Calahuana</h3>
                <p><strong>Full Stack Web Developer</strong></p>
                <p>Descripción: Creativo con un enfoque en el diseño visual y la experiencia del usuario.</p>
                <a href="https://www.linkedin.com/in/leslycalahuanamartinez/" target="_blank" class="linkedin-button">
                    <img src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" alt="LinkedIn" class="linkedin-logo">
                </a>
            </div>

        </div>
        
    </section>

    <footer>
        <script src="../js/frontend/footer.js"></script>
    </footer>
</body>
</html>