<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <link rel="stylesheet" href="../css/notfound.css">
</head>
<body>
        <header class="header-nf">
            <div class="logo">
                <img src="../assets/icon/mago-pesc-light.png" alt="Appunti">
            </div>
        </header>
    <div id="not-found">
        <h1>404</h1>
        <p>Oops... ¡La página que buscas no existe!</p>
        <button id="go-back">Volver atrás</button>
    </div>
    <script src="../js/notfound.js"></script>
</body>
</html>
