<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Reserva</title>
    <link rel="stylesheet" href="../css/global.css">
    <script type="module" src="../js/app.js"></script>
    <script type="" src="../js/pago.js"></script>
</head>
<body class="body-pago">
    <header>

    </header>
        <div class="payment-container">
            <h2>Finalizar Reserva</h2>
            <div class="datos-pago">
            <h3>Datos de tu reserva</h3>
            <!--Reserva-->
            <p>Total:</p>
            <button class="pagar-btn" id="pagar-btn">Realizar Pago</button>
            </div>
        </div>
        <footer>

        </footer>
</body>
</html>