<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Reserva</title>
    <link rel="stylesheet" href="../css/global.css">
    <script type="module" src="../js/app.js"></script>
    
</head>
<body class="body-pago">
    <header>
        <script type="" src="/js/pago.js" defer></script>
    </header>
        <div class="payment-container">
            <h2>¡Reserva Exitosa!</h2>
            <div class="datos-pago" id="datos-pago">
            <h3>Datos de tu reserva</h3>
            <!--Reserva-->
            <p>Total:</p>
            </div>
            <button class="pagar-btn" id="pagar-btn">Realizar Pago</button>
        </div>
        <footer>

        </footer>
        
</body>
</html>