footer {
    background-color: #B3B3B3;
    text-align: left;
    font-size: 14pt;
    padding: 2rem 4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}
.footer-container a{
    margin: 0;
    padding: 0;
}
.footer-container a img{
    width: 8rem;
}
.social{
    display: flex;
    flex-direction: column;
    margin: 0
}
.social p{
    margin: 1rem 0;
    color: #10002b;
}
.social-media{
    display: flex;
    gap: .5rem;
}
.social-media h3 {
    margin-bottom: 10px;
}
.social-media a{
    text-decoration: none;
    height: min-content;
}
.social-media a svg {
    width: 60px;
    height: 60px;
}
.footer-container ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style: none;
    width: 100%;
}
.footer-container ul li{
    width: min-content;
}
.footer-container ul li a{
    text-decoration: none;
    color: #10002b;
}
.footer-container ul li a:hover{
    text-decoration: underline;
}
.copy{
    text-align: center;
    color: #10002b;
}