*{
    box-sizing: border-box;
}
.body-style{
    background-image: url(../assets/img/3184565.jpg);
}
.data-user-style{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #5A189A;
    margin: 2rem;
    padding: 1rem;
    color: #ffffff;
    border-radius: 1rem;
    position: relative;
}
#dataUserContainer,
#dataReservas,
#favoritos-contenedor,
#dataPublicaciones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    max-height: 0;
    height: min-content;
    overflow: hidden;
    transition: .5s;
    background-color: #f3f3f3;
    color: #3a1368;
    border-radius: 1rem;
}

#dataUserContainer.expanded,
#dataReservas.expanded,
#favoritos-contenedor.expanded,
#dataPublicaciones.expanded {
    border-top: 2px solid #fff;
    padding: 1rem;
    max-height: 1000px;
}

#userName,
#userLastName{
    display: inline;
    font-size: 30pt;
}
.data-user div p{
    font-size: 18pt;
}
.data-user p{
    font-weight: 600;
}
.data-user p span{
    font-weight: 400;
}
.data-user a,
.reserva-list a{
    color: #fff
}
.data-2{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-around;
}
.title{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.title p{
    font-size: 16pt;
    height: min-content;
    align-self: center;
}
.title img{
    width: 40px;
}
.title img:last-child{
    margin-left: auto;
    background-color: #9f6ad4;
    border-radius: 50%;
    transition: 0.5s;
}
.reserva-list{
    display: flex;
}
.edit-btn {
    margin-top: 1rem;
    text-align: center;
    color: #5A189A;
    background-color: #5A189A;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    width: 110px;
    top: 120px;
    right: 2rem;
    height: 38px;
}
.edit-btn:hover,
.item-reserva div:last-child a:hover{
    background-color: #f3f3f3;
    color: #5A189A;
    border: 2px solid #5A189A;
}
.reserva-list{
    display: flex;
    flex-direction: column;
    background-color: #491380;
    gap: .5rem;
    border-radius: .5rem;
    padding: 8px;
}
.item-reserva{
    background-color: #5A189A;
    display: flex;
    gap: 3rem;
    padding: .5rem;
    transition: 0.3s ease-in-out;
    border-radius: .5rem;
    color: #ffffff;
}
.item-reserva p{
    font-size: 16pt;
}
.item-reserva p,
.item-reserva div{
    align-self: center;
}
.item-reserva div a{
    text-align: center;
}
.item-reserva img{
    width: 150px;
    border-radius: .5rem;
}
.item-reserva:hover{
    background-color: #3a1368;
}
.item-reserva div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
.item-reserva div:last-child a{
    padding: .5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}
.date{
    display: flex;
    gap: 2rem;
    margin-bottom: 10px;
}
.btn-publi{
    margin-left: auto;
}
#favoritos-contenedor .card{
    height: 480px;
    width: 300px;
}
#favoritos-contenedor .card h3 {
    font-size: 18pt; /* Ajusta el tamaño a lo que desees */
    font-weight: 500; /* Cambia si también quieres un peso diferente */
    padding: 0;
}

#favoritos-contenedor .card p {
    font-size: 12pt; /* Ajusta el tamaño del texto */
    margin: 8px 0; /* Cambia el margen si es necesario */
}
.rotate {
    transform: rotate(180deg);
}
