@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset de márgenes y padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url(../assets/img/3184565.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Barra de navegación */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background-color: #10002B;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Staatliches', sans-serif;
    font-size: 25pt;
    font-weight: 100;
}
.logo img{
    width: 60px;
    margin-right: .5rem;
}
.nav-buttons{
    text-wrap: nowrap;
}
.nav-buttons button {
    margin-left: 0px;
    padding: 10px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5A189A;
}
.nav-buttons button:hover {
    background-color: #5A189A;
}
/* Contenedor principal */
.main-container {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    flex-wrap: wrap;
    height: min-content;
}
/* Bienvenida y registro */
.welcome-container {
    background-color: rgba(105, 34, 177, 0.7);
    color: white;
    padding: 20px;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    align-content: center;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.social-icons {
    margin-top: 3rem;
}
.icon {
    width: 50px;
    margin: 0 2rem;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50%;
}
/* Formulario de registro */
.form-container {
    background-color: #5A189A;
    padding: 5rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
.welcome-container h2 {
    font-family: 'Staatliches', sans-serif;
    font-size: 60pt;
    font-weight: 400;
    margin-bottom: 15px;
    color: #10002B;
}
.welcome-container p{
    font-size: 18pt;
}
label {
    display: block;
    margin-top: 1rem;
    color: #fff
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    outline: none;
    border-radius: 1rem;
    transition: .3s;
    border: 2px solid #fff;
}
:is(input[type="text"], input[type="email"], input[type="password"]):hover{
    background-color: #acacac;
    border: 2px solid #acacac;
}
:is(input[type="text"], input[type="email"], input[type="password"]):focus{
    background-color: #acacac;
}
.btn-form {
    width: 100%;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    background-color: #10002B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-form:hover {
    background-color: #190142;;
}
#formMessage {
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
    color: #fff;
    padding: .5rem 1rem;
    width: min-content;
    margin: auto;
    text-wrap: nowrap;
    border-radius: 1rem;
}
a{
    display: block;
    color: #ececec;
    border-radius: 1rem;
    padding: 1rem;
    width: min-content;
    text-wrap: nowrap;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    text-decoration: none;
}
a:hover{
    text-shadow: 1px 1px 10px #fff;
    text-decoration: underline;
}

/* media para  1060*/
@media (width < 1060px) {
    .welcome-container {
        max-width: 600px;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .form-container{
        border-radius: 0 0 1rem 1rem;
        padding: 1rem 3rem;
    }
    #formMessage{
        margin-bottom: 2rem;
    }
}