
.busqueda-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;

}
.filter-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}
.busqueda-container h2{
  font-family: 'Staatliches', sans-serif;
  background-color: #59189a8a;
  border-radius: 10px;
  text-align: center;
  text-wrap: nowrap;
  font-size: 30px;
  color: #10002B;
  padding: .5rem;
  margin: 1rem 0;
  width: 100%;
}

.filters {
    padding: 20px;
    background-color: #59189a8a;
    width: 300px;
    float: left;
    border-radius: 0.5rem;
  }
  
  .cards-container-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 320px;
    padding: 20px;
  }
  
  
  #button-filter {
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }