@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}
/* Encabezado */
header {
    background-color: #10002B; /*2C003E*/
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 5rem;
}
.search-section-reserva  img{
    height: 8rem;
    margin-bottom: 2rem;
}

.header-buttons ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    background-color: #10002B;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.header-buttons li{
    font-size: 16pt;
    padding: .5rem;
}
.header-buttons li:hover {
    background-color: #5C2D91;
}

/* Sección de búsqueda */
.search-section-reserva {
    text-align: center;
    /*padding: 50px 20px;*/
    background-color: white;
}
.search-section-reserva  h1 {
    font-family:'staatliches',sans-serif;
    font-size: 90pt;
    font-weight: 400;
    color: #10002B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-section-reserva  p {
    width: 500px;
    margin: 0 auto 2rem;
    font-size: 20pt;
    color: #444444;
}
.search-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #5A189A;
    /*margin: 0 20%;*/
    padding: 2rem 1rem;
    /*border-radius: .75rem;*/
}
.search-bar input, .search-bar button {
    font-size: 12pt;
    padding: .5rem;
    border: 1px solid #ddd;
}
.search-bar input {
    border-radius: 5px;
}
.search-bar button {
    background-color: #10002B;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}
.search-bar button:hover {
    background-color: #250066 0.5;
}
/*----------------descripcion reserva---------------------*/
h1{
    padding: 5rem 0 1rem 5rem;
    color: #10002B;
    
}
h2{
    font-size: 2rem;
    color: #10002B;
}
h3{
    padding: 3rem;
    padding-bottom: 1rem;
}
section p {
        padding: 0.5rem 5rem;
    
}
.article-detalle{
 display: flex;
 box-sizing: border-box;
 padding: 7rem;
 gap: 8%;
}
.section-description-reserva {
max-width: 70%;
}
.detalle-galeria{
 border-radius: 1rem;
 height: 35rem;
}
.section-info-reserva button {
    background-color: #10002B;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
}
.detalle-galeria-button{
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    padding: 1rem 4rem;
    gap: 1rem;
}
.section-info-reserva{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40rem;
    padding: 1rem;
    background-color: #8b5cb8;
    border-radius: 0.5rem;
   
}
/* footer */
footer {
    background-color: #B3B3B3;
    padding: 2rem;
    text-align: left;
    font-size: 16pt;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer-container img{
    width: 6rem;
   
}
.social{
    display: flex;
    flex-direction: row;
}
.social-media{
    margin-top: 2rem;
}
.social-media h3 {
    margin-bottom: 10px;
}
.social-media a img {
    width: 2rem;
    margin: 0 10px;
}
.footer-links, .footer-contact {
    display: flex;
    flex-direction: column;
}
.footer-links a, .footer-contact a, .social-media a {
    color: #2E2E3E; /* dark purple color */
    text-decoration: none;
    margin: 5px 0;
}
.footer-links a:hover, .footer-contact a:hover {
    text-decoration: underline;
}
.copy{
    text-align: center;
    margin: 2rem 0;
}