@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    background-image: url('../../assets/img/3184565.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Encabezado */
header {
    background-color: #10002B; /*2C003E*/
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 5rem;
}
.search-section img{
    height: 8rem;
    margin-bottom: 2rem;
}
.header-buttons ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    background-color: #10002B;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.header-buttons li{
    font-size: 16pt;
    padding: .5rem;
}
.header-buttons li:hover {
    background-color: #5C2D91;
}
/* Sección de búsqueda */
.search-section {
    text-align: center;
    padding: 50px 20px;
}
.search-section h1 {
    font-family:'staatliches',sans-serif;
    font-size: 90pt;
    font-weight: 400;
    color: #10002B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-section p {
    width: 500px;
    margin: 0 auto 2rem;
    font-size: 20pt;
    color: #444444;
}
.search-bar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #5A189A;
    margin: 0 20%;
    padding: 2rem 1rem;
    border-radius: .75rem;
}
.search-bar input, .search-bar button {
    font-size: 12pt;
    padding: .5rem;
    border: 1px solid #ddd;
}
.search-bar input {
    border-radius: 5px;
}
.search-bar button {
    background-color: #10002B;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}
.search-bar button:hover {
    background-color: #250066;
}
/* Sección de descubrimiento */
.discover-section {
    background-color: #10002B;
    color: #FFFFFF;
    padding: 50px 20px;
    text-align: center;
}
.discover-section h2 {
    font-weight: 400;
    text-align: left;
    font-size: 25pt;
    margin-bottom: 40px;
}
.service-cards {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}
.card {
    background-color: #5A189A;
    color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: min-content;
    text-align: left;
    padding: 1rem;
    position: relative;
}
.card img {
    width: 120%;
    height: 300px;
    object-fit: cover;
    margin: -1rem -1rem .5rem;
    transition: 0.2s ease-in-out;
}
.card .btn-favorito {
    background-color: transparent;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    width: max-content;
}
.card .btn-favorito img{
    margin: .1rem;
    width: 3rem;
    height: 3rem;
}
.card p {
    font-size: 20pt;
    margin: 10px 0;
}
.card p span{
    font-size: 14pt;
    margin: 10px 0;
}
.card button {
    font-size: 12pt;
    padding: .5rem;
    border: none;
    background-color: #10002B;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    float: right;
}
.card button:hover {
    background-color: #8E5DC2;
}
.card .btn-favorito img:hover{
    background-color: transparent;
}
.ver-mas {
    font-size: 20pt;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.ver-mas:hover {
    background-color: #8E5DC2;
}
/* Sección de información */
.info-section {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 30px 20px;
}
.info-box-1,
.info-box-2 {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    font-size: 26pt;
    box-shadow: 10px 10px 5px 0px #9c9c9c;
    border-radius: 1.5rem;
    background-color: #10002B;
    color: #FFFFFF;
    width: 900px;
}
.info-box-1{
    overflow: hidden;
}
.info-box-1 img{
    object-fit: cover;
    margin: -2rem;
}
.info-box-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    text-align: center;
}
.info-box-1 p{
    text-align: left;
    margin: 1rem;
}
.info-box-1 a{
    margin: 0 1rem 1rem;
    padding: 1rem;
    background-color: #5A189A;
    color: #ffffff;
    border-radius: 2rem;
    width: 300px;
    margin: auto;
    text-decoration: none;
}
.info-box-1 a:hover{
    background-color: #8E5DC2;
}
.info-box-2 {
    background-image: url('../../assets/img/J9bhvIREQ_qmt81_b2mS5A.png');
    background-repeat: no-repeat;
    background-size: 135%;
    background-position: center;
}
.info-box-2 p{
    margin-right: 50%;
}
/* Sección de categorías */
.category-section {
    background-color: #59189aa4;
    padding: 50px 20px;
    text-align: center;
    color: white;
    margin: 1rem;
    border-radius: 1rem;
}
.category-section h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 40px;
}
.category-icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.icon-category{
    background-color: #ffffff;
    border-radius: 50%;
    border: 5px solid #5A189A;
    height: max-content;
    padding: 1.5rem;
}
.icon-category img{
    height: 3rem;
}
.btn-category p{
    font-size: 16pt;
    margin: .5em 0;
}
/* footer */
footer {
    background-color: #B3B3B3;
    padding: 2rem;
    text-align: left;
    font-size: 16pt;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer-container img{
    width: 6rem;
}
.social{
    display: flex;
    flex-direction: row;
}
.social-media{
    margin-top: 2rem;
}
.social-media h3 {
    margin-bottom: 10px;
}
.social-media a img {
    width: 2rem;
    margin: 0 10px;
}
.footer-links, .footer-contact {
    display: flex;
    flex-direction: column;
}
.footer-links a, .footer-contact a, .social-media a {
    color: #2E2E3E; /* dark purple color */
    text-decoration: none;
    margin: 5px 0;
}
.footer-links a:hover, .footer-contact a:hover {
    text-decoration: underline;
}
.copy{
    text-align: center;
    margin: 2rem 0;
}