@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset de márgenes y padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Staatliches', sans-serif;
    background-color: #59189a8a;
    border-radius: 10px;
    text-align: center;
    width: min-content;
    text-wrap: nowrap;
    width: 45%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    justify-self: center;
    color: #10002B;
    padding: .5rem 0px .5rem 0px;
    margin-top: 2rem;
}


h3{
    background-color: #5A189A;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    width: min-content;
    text-wrap: nowrap;
    width:100%;
    text-align: start;
    padding-left: 3rem;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

div.main-container{
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.main-container form{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    color: #fff;
    max-width: 45%;
}

div.container-data{
    margin-bottom: 20px;
    background-color: #9a63d1da;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

input, select, label{
    width: 100%;
    height: 70%;
    margin-top: .5rem;
}


div.container-data div{
    flex: 0 0 50%; /* Ancho del 50% menos un margen */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 20px;
}



div.container-price{
    border-radius: 10px;
    background-color: #9a63d1da;
    margin-bottom: 20px;
    flex-wrap: wrap;
    display: flex;
}

div.container-price div{
    flex: 0 0 50%; /* Ancho del 50% menos un margen */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 30px;
    
}

.cancelacion{
    display: flex;
    flex-direction: row;
}

div.container-image{
    height: 300px;
    border-radius: 10px;
    background-color: #9a63d1da;
}

div.container-image div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;    
}

div.buttons{
    justify-self: end;
    margin-top: 10px;
}

button.submit{
    margin-left: 30px;
    margin-bottom: 30px;
    color: #fff;
    border-radius: 10px;
    background-color: #5A189A;
    width: 100px;
    height:30px;
    border:none;
    font-weight: 600;
}

button.cancel-btn{
    margin-left: 30px;
    margin-bottom: 30px;
    color: #10002B;
    border-radius: 10px;
    background-color: #D9D9D9;
    width: 100px;
    height:30px;
    border:none;  
    font-weight: 600;  
}

#enviado:hover{
    cursor: pointer;
    background-color: #10002B;
    scale: 102%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#cancelado:hover{
    cursor: pointer;
    background-color: #c6c5c5;
    scale: 102%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}