header{
    position: sticky;
    top: 0;
    z-index: 10;
}
nav {
    background-color: #10002B;
    height: min-content;
    padding: .5rem .5rem 0;
}
header nav ul{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    list-style: none;
    margin: 0 2rem;
}
nav ul li{
    align-content: center;
}
nav ul li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: #ffffff;
}
nav ul li a img{
    width: 25px;
    margin-bottom: .5rem;
}
nav ul li:first-child{
    margin-right: auto;
}
nav ul li:first-child a img{
    width: 40px;
    margin-bottom: 0;
}